@media (min-width: 476px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-areas: "main"
                                "one"
                                "two"
                                "three";
        background-color: rgb(226, 220, 220);
    }
    section {
        background-color: rgb(226, 220, 220);
        color: black;
    }
}

@media (min-width: 996px) {
    body {
        margin: 0;
        background-color: rgb(26, 24, 24);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 117pt 117pt 117pt 117.5pt;
        grid-template-areas: "main main main" 
                                "main main main"
                                "one two three"
                                "one two three";
    }
    section{
        background-color: rgb(26, 24, 24);
        color: white;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 204, 204);
    grid-area: main;
    color: white;
    font-size: 1.25em;
    font-family: 'Piazzolla', serif;
}

.main h1 {
    font-weight: 400;
}

.main strong {
    font-weight: 900;
}

section {
    text-align: center;
}

.one {
    grid-area: one;
    padding-top: 10%;
}

h3, p {
    padding-left: 25%;
    padding-right: 25%;
}

h3 {
    font-size: 2em;
    font-family: 'Piazzolla', serif;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

.two {
    grid-area: two;
    padding-top: 10%;
}

.three {
    grid-area: three;
    padding-top: 10%;
}

hr {
    width: 50%;
    padding-top: 5%;
    border: none;
}

#blue {
    background-color: rgb(53, 122, 250);
}

#orange {
    background-color: rgb(230, 118, 44);
}

#aqua {
    background-color: rgb(35, 190, 218);
}